*{
    box-sizing: border-box;
}

body{
    background: #222;
    height:100%;
}
#container{
    position: absolute;
    margin-left: 500px;
    width: 900px;
    height: 100%;
    background-color: #fff;
}
aside{
    float: left;
    width: 300px;
    padding: 20px 50px;
    height: 100%;
    background: lightgray;
}
aside>div>img{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
#main{
    float: right;
    padding: 30px;
}